 {%extends "base.html"%}
 {%block content%}




     <!--Start of contents -->  
     <div class="contents"> 
      <div class="about"> 
      <fieldset>
        <legend>About us</legend>
      <h2> Company</h2>
      <p> The Optical Shop at Albany Eye Associates was established in the late 1990's to offer our valued patients a full range of services to accommodate any lifestyle and budget. Education is a very important part of the eyewear and lens selection. Our goal is to provide you with the best quality frames and lenses that will maximize your vision and comfort.  Our attention to detail and concern for your lifestyle make the difference!  We offer competitive pricing and our quality is unmatched. </p>
      <h2> Contact Lenses</h2>
      <p>We offer the best and latest in contact lenses, from disposables to gas permeable lenses, silicone hydrogel lenses that are healthier, less dry, and more comfortable, to lenses that correct astigmatism, and even bifocal contacts for those who need help with reading vision. If you would like to make your brown eyes blue, we can do that too. Our experienced Contact Lens Technician is educated in all aspects of contact lenses, and can assist even the hardest to fit patient. We at Albany Eye Associates understand the importance of the best contact lens fitting, because that is what our patients deserve, the best in quality care. <br>
      <h2> Our Contact Lens Dispenser </h2>
      Michael P. Buenau has been a licensed New York State Ophthalmic Dispenser and custom contact lens fitter for over 40 years.  A graduate of the Ophthalmic Dispensing Program at Erie Community College, Mike is ABO and NCLE certified.  He has been an active member of the New York State Society of Opticians throughout his career, and has served in a variety of offices at the local and state levels.  Currently, he serves as the Society’s Immediate Past President and a member of NYSSO’s 70th Anniversary Committee.  In 2005, Mike was honored by the Society with its Lifetime Achievement Award.
      </p>
      <h3>Optical Shop Hours</h3>
      <p> Monday to Friday: 8:15 - 6:45</p>
      <h4> Our locaiton </h4>
      <address>
       Prime Optical, LLC<br>
       50 Memorial Drive Suite 105 <br>
       Leominster MA<br>
       Phone: 978-728-4234<br>
       Email: <a href="mailto:realsimpleopticals@gmail.com">realsimpleopticals@gmail.com</a><br>
       Fax: 978-534-471 <br>   
      </address>
      </fieldset>
      </div>

    
     </div>
     <!--end of contents -->
{%endblock%}