 {%extends "base.html"%}
 {%block content%}

     <!--Start of contents -->  
     <div class="contents"> 
      <div class="contact"> 
      <h1>Contact us</h1>
      <form method="POST">
    <input type="text" name="name" id="" placeholder="Name">
    <input type="email" name="email" id="" placeholder="Email"><br>
     <label>Subject:</label> <br>
     <select onchange="toggleDisplay(this.value)" required>
       <option value="none" disabled selected>--select-</option>
       <option value="product-enquiry">Product Enquiry</option>
       <option value="raise-issue">Raise Issue</option>
       <option value="other">Other</option>
     </select> <br>


     <div style="display:none;" id="other"> 
     <label>Enter Subject:</label><br>  
     <input type="text" name="other" id="">
     </div>

     <div class="hidden" id="product"> <br>
     <label>Enter Product name:</label><br>  
     <input type="text" name="pname" id=""><br>
     <label>Enter Product id:</label><br>  
     <input type="text" name="pname" id="">
     </div>

     <div class="hidden" id="issue"> <br>
     <label>Enter Issue:</label><br>  
     <input type="text" name="issue" id=""><br>
     <label>Enter Purchase date:</label><br>  
     <input type="date" name="issue" id="">
     </div>




     <label>Message:</label><br>
     <textarea  placeholder="Your message"></textarea>
          
      </form>

      </div>
    
     </div>
     <!--end of contents -->
{%endblock%}
  
 </body>

</html>

