 {%extends "base.html"%}
 {%block content%}

     <!--Start of contents -->  
     <div class="contents"> 
     <h1>Travel and Tourism</h1><div class="front-img">
     <img src="https://www.talaviation.com/Talaviation/UploadFiles/pgallery/201612711253290.jpg"  class="responsive">
     <p> The Optical Shop at Albany Eye Associates was established in the late 1990's to offer our valued patients a full range of services to accommodate any lifestyle and budget. Education is a very important part of the eyewear and lens selection. Our goal is to provide you with the best quality frames and lenses that will maximize your vision and comfort.</p>
     <p> Our attention to detail and concern for your lifestyle make the difference!  We offer competitive pricing and our quality is unmatched. </p>
     </div>
     </div>
     <!--end of contents -->


{%endblock%}