 {%extends "base.html"%}
 {%block content%}
     <!--Start of contents -->  
     <div class="contents"> 
      <div class="shopping-list">
        <div class="item" >
          <img src="https://bit.ly/3c8JQgO" class="responsive">
          <h3>Spherical Glass</h3>
            <p>A "spherical lens" is a lens whose surface has the shape of (part of) the surface of a sphere. With the lens opened wide the image is dominated by light passing through the lens far from the center; consequently, it's the edge rays which you've adjusted the lens to bring to a sharp focus <p>
              <button class="buy-btn">Buy now</button>
        </div>

        <div class="item" >
          <img src="https://bit.ly/3c8JQgO" class="responsive">
          <h3>Cylindrical Power Glass</h3>
            <p>Cylinder indicates the amount of lens power for astigmatism. ... The number in the cylinder column may be preceded with a minus sign (for the correction of nearsighted astigmatism) or a plus sign (for farsighted astigmatism). Cylinder power is always written after sphere power.<p>
              <button class="buy-btn">Buy now</button>
        </div>

        <div class="item" >
          <img src="https://bit.ly/3c8JQgO" class="responsive">
          <h3>Toric Power Glass</h3>
            <p>The main difference between these toric lenses and regular lenses is the design. Regular lenses have just one power, but toric lenses have two: one for distance vision and one for astigmatism. If you like to wear colored or multifocal lenses lens to bring to a sharp focus<p>
              <button class="buy-btn">Buy now</button>
        </div>

        <div class="item" >
          <img src="https://bit.ly/3c8JQgO" class="responsive">
          <h3>Toric Power Glass</h3>
            <p>The main difference between these toric lenses and regular lenses is the design. Regular lenses have just one power, but toric lenses have two: one for distance vision and one for astigmatism. If you like to wear colored or multifocal lenses lens to bring to a sharp focus<p>
              <button class="buy-btn">Buy now</button>
        </div>

        <div class="item" >
          <img src="https://bit.ly/3c8JQgO" class="responsive">
          <h3>Toric Power Glass</h3>
            <p>The main difference between these toric lenses and regular lenses is the design. Regular lenses have just one power, but toric lenses have two: one for distance vision and one for astigmatism. If you like to wear colored or multifocal lenses lens to bring to a sharp focus<p>
              <button class="buy-btn">Buy now</button>
        </div>

        <div class="item" >
          <img src="https://bit.ly/3c8JQgO" class="responsive">
          <h3>Toric Power Glass</h3>
            <p>The main difference between these toric lenses and regular lenses is the design. Regular lenses have just one power, but toric lenses have two: one for distance vision and one for astigmatism. If you like to wear colored or multifocal lenses lens to bring to a sharp focus<p>
             <button class="buy-btn">Buy now</button> 
        </div>        
      </div>
     </div>
     <!--end of contents -->
{%endblock%}
  
 </body>

</html>

